body {
      margin: 0;
      height: 100vh;
      background-color: #00B876; /* Green background */
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-family: Arial, sans-serif;
      color: #1E2A78; /* Dark blue text */
      text-align: center;
    }
    
    .logo-bg {
        background-color: white;
        border-radius: 100%;
        width: auto;
        height: auto;
        place-items: center;
        justify-content: center;
        overflow: hidden;
        display: flex;
        padding: 3px;
        margin-bottom: 10px;
    }

    .logo {
      width: 65px;
      height: 65px;
    }

    h1 {
      font-size: 24px;
      font-weight: 900;
      margin: 0;
      margin-bottom: 15px;
    }

    .footer {
      margin-top: 20px;
      width: 250px;
    }